<!-- <app-courses></app-courses> -->
<!-- <app-user></app-user> -->
<app-post></app-post>
<!-- <favorite [isFavorite]="post.isFavorite" (myCustomEvent)="onFavoriteChanged($event)"></favorite> -->
<!-- <panel>
    <ng-container class="heading">Heading</ng-container>
    <div class="body">
        <h2>Body</h2>
        <p>some content here...</p>
    </div>
</panel>
<zippy [title]="'zipped demo'" (someEvent)="someFunction($event)">
    <ng-container class="head">Heading</ng-container>
    <ng-container class="body">
        <h2>Body</h2>
        <p>some content here...</p>
    </ng-container>
</zippy> -->
<router-outlet></router-outlet>