<p>contact-form works!</p>
<form>
    <div class="form-group">
        <label for="firstName">First name</label>
        <input required minlength="3" maxlength="10" pattern="banana" ngModel name="firstName" #firstName="ngModel" (change)="log(firstName)" id="firstName" type="text" class="form-control">
        <!-- <div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid">First name not valid</div> -->
        <div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid">
            <div *ngIf="firstName.errors.required">First name is required</div>
            <div *ngIf="firstName.errors.minlength">First name should be minimum {{firstName.errors.minlength.requiredLength}} chars</div>
            <div *ngIf="firstName.errors.maxlength">First name should be max 10 chars</div>
            <div *ngIf="firstName.errors.pattern">First name should match banana</div>
        </div>
        <!-- <div>Charachters remaining: {{firstName.}}</div> -->
    </div>
    <div class="form-group">
        <label for="comment">Comment</label>
        <textarea name="" id="comment" cols="30" rows="10" class="form-control"></textarea>
    </div>
    <button class="btn btn-primary">Submit</button>
</form>