<h1>Sample App</h1>
<!-- <slickgrid-wrapper></slickgrid-wrapper> -->
<div class="row">
    <div class="col-xl-5">
        <div>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam, aut earum eaque blanditiis temporibus beatae velit aspernatur rem? Itaque minus aspernatur voluptates id quaerat error quo reiciendis dolore quas magnam?</div>
        <ngx-charts-example></ngx-charts-example>
    </div>
    <div class="col-xl-5">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio, natus sint exercitationem consequatur
        asperiores dolores accusantium assumenda temporibus. Minima quos sed dolore reiciendis recusandae incidunt
        impedit pariatur, non expedita accusantium.

    </div>
    <div class="col-xl-2">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo in ipsa ut ad, impedit, esse magnam
        perspiciatis at repellat non ipsum excepturi enim! Nam totam delectus voluptatum quod ut consequuntur
        blanditiis, harum aliquid. Alias beatae perferendis ducimus, ullam dolorum rerum deleniti necessitatibus
        obcaecati fuga ad, velit in, eligendi dignissimos iusto.
    </div>
</div>


<!-- <div class="sample-grid">
    <ngx-charts-example></ngx-charts-example>
    <div>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio, natus sint exercitationem consequatur
        asperiores dolores accusantium assumenda temporibus. Minima quos sed dolore reiciendis recusandae incidunt
        impedit pariatur, non expedita accusantium.

    </div>
    <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo in ipsa ut ad, impedit, esse magnam perspiciatis at
        repellat non ipsum excepturi enim! Nam totam delectus voluptatum quod ut consequuntur blanditiis, harum aliquid.
        Alias beatae perferendis ducimus, ullam dolorum rerum deleniti necessitatibus obcaecati fuga ad, velit in,
        eligendi dignissimos iusto.
    </div>
</div> -->


<router-outlet></router-outlet>