.sample-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 30px;
    justify-items: center;
}

/* .chart-container{
    width: 100%;
    height: 100%;
} */

/* .chart-container{
    display: grid;
    grid-template-columns: 1fr;
} */