<p>courses works!</p>
<ul *ngFor="let course of courses">
    <li>{{course}}</li>
</ul>

<!-- string interpolation good for text-->
<p>{{title}}</p> 
<img src="{{ imageUrl }}" alt="alt text">

<!-- property binding good for one way binding component => DOM -->
<img [src]="imageUrl" alt="">


<!-- attribute binding -->
<!-- DOM objects and html attributes can be different names -->
<table>
    <tr>
    <td [attr.colSpan]="colSpan">{{title}}</td>
    </tr>
</table>

<!-- bootstrap -->
<!-- CLASS BINDING
    enable or disable a particular class dynamically 
    with [class.ClassName] = boolean 
-->
<button class="btn" [class.btn-primary]="isActive">Save</button>

<!-- STYLE BINDING
    enable or disable a particular class dynamically 
    with [class.ClassName] = boolean 
-->
<button [style.backgroundColor]="isActive ? 'red': 'white'">Sample button</button>

<!-- EVENT BINDING 
    (eventName) = methodName(params);
-->
<button (click)="onSave($event)">Button Event</button>

<!-- event bubbling -->
<div (click)="onDivClicked()">
    <button (click)="onSave($event)">Button Event Bubble</button>
</div>

<!-- EVENT FILTERING 2 ways-->
<br><br>
<input (keyup)="onKeyUp($event)" />
<input (keyup.enter)="onEnterKeyUp()" />

<!-- TEMPLATE VARIABLES 2 ways-->
<br><br>
<input (keyup.enter)="onKeyEvVar($event)" />
<input #email (keyup.enter)="onKeyVar(email)">
<br><br><br><br><br><br>

<!-- TWO WAY BINDING -->
<input [(ngModel)]="someObject" (keyup)="onKeyUpdateSomeObject()">
<br><br><br>
<!-- PIPES -->
{{course.title | uppercase | lowercase }} <br>
{{course.students | number}} <br>
{{course.rating | number:'2.1-1'}} <br>
{{course.price | currency:'AUD':true:'3.2-2'}} <br>
{{course.releaseDate | date:'shortdate'}} <br>