<!-- <s6-ngif></s6-ngif> -->
<!-- <s6-ngif-else></s6-ngif-else> -->
<!-- <s6-ngif-then-else></s6-ngif-then-else> -->
<!-- <s6-hidden-attr></s6-hidden-attr> -->
<!-- <s6-ngswitchcase></s6-ngswitchcase> -->
<!-- <s6-ngfor></s6-ngfor> -->
<!-- <s6-ngfor-changedetection></s6-ngfor-changedetection> -->
<!-- <s6-ngfor-trackby></s6-ngfor-trackby> -->
<!-- <s6-ngclass></s6-ngclass> -->
<!-- <s6-ngstyle></s6-ngstyle> -->
<!-- <s6-safe-traversal-operator></s6-safe-traversal-operator> -->
<s6-inputformat-directive-demo></s6-inputformat-directive-demo>


